.col-lg-1 {
    width: 8.33%;
}

.col-lg-2 {
    width: 16.66%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33%;
}

.col-lg-5 {
    width: 41.66%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33%;
}

.col-lg-8 {
    width: 66.66%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33%;
}

.col-lg-11 {
    width: 91.66%;
}

.col-lg-12 {
    width: 100%;
}

.icons {
    margin-top: 5px;
}

.logo img {
    margin-top: 0px;
    width: 100%;
}



.menu ul {
    display: flex;
    flex-direction: row;
    padding: 0px 10%;

}

.card-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}


.Popular-Online-Categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* fdhfsdf */
.card-courses-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}

.card-frecuntly {
    width: 500px;

    margin: 0 20px;



}

.collunms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    color: white;
}